<?php
$data = $this->getMovieCollection();

//$data is an array
//gop cac mang con co 'movie_id' co cung gia tri
$d = 0;

for ($i = sizeof($data) - 1; $i > 0; $i--) {
    for ($j = $i - 1; $j >= 0; $j--) {
        if ($data[$i]['movie_id'] == $data[$j]['movie_id']) {
            $data[$i]['actor_name'] .= ',' . $data[$j]['actor_name'];
            $data[$j] = ['movie_id' => '', 'actor_name' => ''];
        }
    }
    $d++;
}


foreach ($data as $key => $value) {
    if ($value['movie_id'] == '')
        unset($data[$key]);
}

?>
<h3>My Movie</h3>
<table class="data table" id="test-data-table">
    <caption class="table-caption">Movie Data</caption>
    <thead>
    <tr>
        <th scope="col" class="col movie_id">Movie Id</th>
        <th scope="col" class="col name">Movie Name</th>
        <th scope="col" class="col description">Description</th>
        <th scope="col" class="col rating">Rating</th>
        <th scope="col" class="col director_name">Director Name</th>
        <th scope="col" class="col actor_name">Actor Name</th>

    </tr>
    </thead>
    <tbody>
    <?php foreach ($data as $value): ?>
        <tr>
            <td class="col movie_id"><?php echo $value['movie_id']; ?></td>
            <td class="col movie_id"><?php echo $value['name']; ?></td>
            <td class="col movie_id"><?php echo $value['description']; ?></td>
            <td class="col movie_id"><?php echo $value['rating']; ?></td>
            <td class="col movie_id"><?php echo $value['director_name']; ?></td>
            <td class="col movie_id"><?php echo $value['actor_name']; ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
